{% extends 'common/email_base.html' %}

{% block content %}
<tr>
    <td align="center" style="border-collapse:collapse;padding:40px 0 20px 0;" valign="top">
        <img alt="Security Shield" border="0" src="https://d3k81ch9hvuctc.cloudfront.net/company/VZAFeL/images/c3719f83-5290-4e20-b777-3bddb195c377.png" width="48" height="48" style="height:auto;max-width:100%;text-align:center;border:0;display:block;outline:none">
    </td>
</tr>
<tr>
    <td align="center" style="border-collapse:collapse;color:#222222;font-family: 'Raleway', Arial, sans-serif;font-size:32px;line-height:38px;font-weight:800;text-transform:inherit;padding: 0 0 30px 0;" valign="top">
        Set Password To Complete Your Account
    </td>
</tr>
<tr>
    <td align="left" style="border-collapse:collapse;color:#444444;font-family: 'Raleway', Arial, sans-serif;font-size:18px;line-height:26px;font-weight:normal;text-transform:inherit;" valign="top">
        {% if name %}
        <span style="font-weight: bold;">Hi {{ name }},</span><br>
        {% endif %}
        To set your password please click the button below.
    </td>
</tr>
<tr>
    <td align="center" style="border-collapse:collapse;padding:30px 0 40px 0;" valign="top">
        <a href="{{ password_reset_url }}" style="width:410px;height:65px;display:inline-block;border-collapse:collapse;color:inherit;text-decoration:none" title="Reset My Password" target="_blank" data-saferedirecturl="">
            <img alt="Reset My Password" border="0" src="https://d3k81ch9hvuctc.cloudfront.net/company/VZAFeL/images/73127376-bd15-404d-9e95-e3c879234618.png" width="410" height="65" style="height:auto;max-width:100%;text-align:center;border:0;display:block;outline:none">
        </a>
    </td>
</tr>
<tr>
    <td align="left" style="border-collapse:collapse;color:#444444;font-family: 'Raleway', Arial, sans-serif;font-size:18px;line-height:26px;font-weight:normal;text-transform:inherit;padding: 0 0 40px 0;border-bottom: 1px solid #E1E1E1;" valign="top">
        If you have not subscribed to notifications, please ignore this message.
    </td>
</tr>
{% endblock %}
