{% extends 'common/email_base.html' %}

{% block content %}
<tr>
    <td align="center" style="border-collapse:collapse;padding:40px 0 20px 0;" valign="top">
        <img alt="In Progress" border="0" src="https://d3k81ch9hvuctc.cloudfront.net/company/VZAFeL/images/c09445b8-f23d-4776-a414-38292517e917.png" width="48" height="48" style="height:auto;max-width:100%;text-align:center;border:0;display:block;outline:none">
    </td>
</tr>
<tr>
    <td align="center" style="border-collapse:collapse;color:#222222;font-family: 'Raleway', Arial, sans-serif;font-size:32px;line-height:38px;font-weight:800;text-transform:inherit;padding: 0 0 30px 0;" valign="top">
        Verify Your Email Address
    </td>
</tr>
<tr>
    <td align="left" style="border-collapse:collapse;color:#444444;font-family: 'Raleway', Arial, sans-serif;font-size:18px;line-height:26px;font-weight:normal;text-transform:inherit;" valign="top">
        To complete your registration, please click the button below to verify your email address
    </td>
</tr>
<tr>
    <td align="center" style="border-collapse:collapse;padding:30px 0 40px 0;" valign="top">
        <a href="{{ verification_url }}" style="width:410px;height:65px;display:inline-block;border-collapse:collapse;color:inherit;text-decoration:none" title="Confirm My Email" target="_blank" data-saferedirecturl="">
            <img alt="Confirm My Email" border="0" src="https://d3k81ch9hvuctc.cloudfront.net/company/VZAFeL/images/7ed0511e-0a78-4a12-b9c4-a8273eb8a48c.png" width="410" height="65" style="height:auto;max-width:100%;text-align:center;border:0;display:block;outline:none">
        </a>
    </td>
</tr>
<tr>
    <td align="center" style="border-collapse:collapse;color:#222222;font-family: 'Raleway', Arial, sans-serif;font-size:18px;line-height:21px;font-weight:800;text-transform:inherit;padding: 0 0 40px 0;border-bottom: 1px solid #E1E1E1;" valign="top">
        Thanks for choosing OFIRIO!
    </td>
</tr>
{% endblock %}
